<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddPNLF</key>
				<true/>
				<key>FixShutdown</key>
				<true/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>_DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>OSID to XSID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>WFNJRA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PCI.VID to PCI.IGPU#1</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>UENJMFZJRF8=</data>
					<key>Replace</key>
					<data>UENJMElHUFU=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PCI.VID to PCI.IGPU#2</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>VklEXwhfQURSDAAAAgA=</data>
					<key>Replace</key>
					<data>SUdQVQhfQURSDAAAAgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LPC to LPCB</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>TFBDXw==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT0 to SATA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SAT1 to SATA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>U0FUMQ==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC1 to EH01</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EHC2 to EH02</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XHCI to XHC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>WEhDSQ==</data>
					<key>Replace</key>
					<data>WEhDXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>B0D3 to HDAU</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>QjBEMw==</data>
					<key>Replace</key>
					<data>SERBVQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGBE to GLAN</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>SUdCRQ==</data>
					<key>Replace</key>
					<data>R0xBTg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBD to PS2K</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>S0JEXw==</data>
					<key>Replace</key>
					<data>UFMySw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>KBC0 to PS2K</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>S0JDMA==</data>
					<key>Replace</key>
					<data>UFMySw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>MOU to PS2M</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>TU9VXw==</data>
					<key>Replace</key>
					<data>UFMyTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ECDV to EC(dell)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUMwXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EC0 to EC</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBU to SBUS</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>U01CVQ==</data>
					<key>Replace</key>
					<data>U0JVUw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LID0 to LID</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>TElEMA==</data>
					<key>Replace</key>
					<data>TElEXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(1,N)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_PTS to ZPTS(1,S)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1BUUwk=</data>
					<key>Replace</key>
					<data>WlBUUwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(1,N)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1dBSwE=</data>
					<key>Replace</key>
					<data>WldBSwE=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_WAK to ZWAK(1,S)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XSEL to XSEZ(0,N)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>WFNFTAA=</data>
					<key>Replace</key>
					<data>WFNFWgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XSEL to XSEZ(0,S)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>WFNFTAg=</data>
					<key>Replace</key>
					<data>WFNFWgg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ESEL to ESEZ(0,N)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RVNFTAA=</data>
					<key>Replace</key>
					<data>RVNFWgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>ESEL to ESEZ(0,S)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>RVNFTAg=</data>
					<key>Replace</key>
					<data>RVNFWgg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XWAK to XWAZ(0,N)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>WFdBSwA=</data>
					<key>Replace</key>
					<data>WFdBWgA=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>XWAK to XWAZ(0,S)</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>WFdBSwg=</data>
					<key>Replace</key>
					<data>WFdBWgg=</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Comment: Fix AsRock Z390 BIOS DSDT Device(RTC) bug</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>ResetAddress</key>
		<string>0x0</string>
		<key>ResetValue</key>
		<string>0</string>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>EnableC6</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<false/>
			<key>PluginType</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string> -igfxnohdmi -wegnoegpu slide=0 kext-dev-mode=1 -cdfon dart=0 npci=0x2000 -alcbeta keepsyms=1 darkwake=0 -lilubetaall alcid=3 lilucpu=8 debug=0x100</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>Mac</string>
		<key>Fast</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Device</key>
				<string>IntelGFX</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>AAPL,GfxYTile </string>
				<key>Value</key>
				<data>AQAAAA==</data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>No</string>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>#framebuffer-patch2-enable</key>
				<integer>1</integer>
				<key>#framebuffer-patch2-find</key>
				<data>AAAIAAIAAACYAAAAAQUJAAAAQAAIcBAAACBAoAAAQAAAhwEAAP8AAAABAAAAIAAAAA==</data>
				<key>#framebuffer-patch2-replace</key>
				<data>AAAIAAAEAACYAAAAAQUJAAAAQAAIcBAAACBAoAAAgAAAhwEAAAMGCgAACAAAhwEAAA==</data>
				<key>AAPL,GfxYTile</key>
				<data>AQAAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbGQ==</data>
				<key>device-id</key>
				<data>FhkAAA==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<integer>1</integer>
				<key>framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con2-enable</key>
				<integer>1</integer>
				<key>framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con3-enable</key>
				<integer>1</integer>
				<key>framebuffer-con3-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-patch0-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch0-find</key>
				<data>dkBI/wU=</data>
				<key>framebuffer-patch0-replace</key>
				<data>60BI/wU=</data>
				<key>framebuffer-patch1-enable</key>
				<integer>1</integer>
				<key>framebuffer-patch1-find</key>
				<data>dkZI/wU=</data>
				<key>framebuffer-patch1-replace</key>
				<data>60ZI/wU=</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>ramebuffer-con3-type</key>
				<data>AAgAAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>zh_CN:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>bootcamp</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<true/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit Vandroiy)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>igKEwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 debug kernel (credit Vandroiy)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>sABMi1Xw</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>SIPEQF3D</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>igKEwHRC</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>igKEwOtC</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.14.5</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AIoChMB0</data>
				<key>Replace</key>
				<data>AIoChMDr</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 Patch 2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QQ+3zTnBdQw=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>QQ+3zTnBZpA=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<string>&lt;string&gt;pci14e4,43ba&lt;/string&gt;</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<string>&lt;string&gt;pci14e4,43b1&lt;/string&gt;</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 Patch 1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QTnEdRs=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>QTnEZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>gflSqgAAdSk=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>gflSqgAAZpA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPortBrcm4360 Patch 3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g33EBHQG</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>g33EBGaQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AirPort Extreme</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>axAAAHUN</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>axAAAJCQ</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>iUXIOcd2Tw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>iUXIOcfrTw==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QTnEdj4=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.11.6</string>
				<key>Name</key>
				<string>AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>QTnE6z4=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AAQAAIcBAAACBAoAAAQAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>AAgAAIcBAAACBAoAAAgAAA==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>iUXIOcZ2UQ==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>iUXIOcbrUQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>HDMI</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AAQAAIcBAAACBAoAAAQAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>AAgAAIcBAAACBAoAAAgAAA==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QTnEdio=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.11.6</string>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>QTnE6yo=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 20 in XHCI kext (9-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g710////EA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g710////Fg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change 15 Port Limit To 30 in XHCI Kext (X99-series)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g72M/v//EA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.11.6</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g72M/v//Hw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Change 15 Port Limit To 30 in XHCI Kext 10.12(99-series)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<string>837D8410</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>MatchOS</key>
				<string>10.12.x</string>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<string>837D841F</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.11+-BT4LE-Handoff-Hotspot-lisai9093</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SIX/dEdIiwc=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>Qb4PAAAA60Q=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AABJiY4iAQAAugAQAABIKQ==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>AABJiY4iAQAAugACAABIKQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#2</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>D7aMiIIAAACD+QwPhTIBAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>D7aMiIIAAACD+QkPhTIBAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#5</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>hv8PAABIwegMD7cPgeH/Dw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>hv8PAABIwegJD7cPgeH/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>icGB4f8PAABIAdFIgfn/DwAAdzs=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>icGB4f8BAABIAdFIgfn/AQAAdzs=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ibPwAgAAweAMBQAQAACJgw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>ibPwAgAAweAJBQAQAACJgw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#9_10</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>BgIAAEyNuAAQAABMiflIgeEA8P//SYmGGgEAAEmJjiIBAABBvAAQAABJKfQ=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>BgIAAEyNuAACAABMiflIgeEA8P//SYmGGgEAAEmJjiIBAABBvAACAABJKfQ=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SYnGTYX2dGFBwecMSWP/vg==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>SYnGTYX2dGFBwecJSWP/vg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>Bf8PAABIwegMZvfB/w8PlQ==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>Bf8PAABIwegJZvfB/w8PlQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>weIIQQ+2wcHgDEQJ0EQJwA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>weIIQQ+2wcHgCUQJ0EQJwA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>yAAAAEkp17gAEAAATYskJA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>yAAAAEkp17gAAgAATYskJA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>AMeDpAAAAAAQAABIi0gISA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>AMeDpAAAAAACAABIi0gISA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>iWTY+EmBxAAQAABJgccA8A==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>iWTY+EmBxAACAABJgccA8A==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#13</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>4b+AQBUGTYnWugAQAABFMQ==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>4b+AQBUGTYnWugACAABFMQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#8</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SYHF/w8AAEnB7QxJiwQkSA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>SYHF/w8AAEnB7QlJiwQkSA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#17</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>RYTJD5XAD7bAweAMRAnYRA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>RYTJD5XAD7bAweAJRAnYRA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.13.x (credit PMHeart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>TIlduHZE</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>TIlduOtE</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>TIlFwHZE</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>TIlFwOtE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13.x</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32MEA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g32MGQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext (credit FredWst)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32UDw+DlwQ=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.4,10.13.5</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32UGg+DlwQ=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>disable port limit in XHCI kext (credit PMHeart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/sPD4MDBQAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/sPkJCQkJCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>disable USB Port Limit Patch (PMheart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32IDw+DpwQAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32ID5CQkJCQkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32IDw+DpwQ=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32IGg+DpwQ=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>dkBI/wU=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver .AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60BI/wU=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.14_</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>di1I/wU=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>6y1I/wU=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>dkBI/wU=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60BI/wU=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>dkZI/wU=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60ZI/wU=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>dkZI/wU=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>60ZI/wU=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>g/sPD4OPBAAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.1,10.14.2</string>
				<key>Name</key>
				<string>AppleUSBXHCI </string>
				<key>Replace</key>
				<data>g/sPkJCQkJCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable minStolenSize less or equal fStolenMemorySize assertion, 10.13.2/3 (credit PMHeart, , shdkpr2008)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>TIlduHZA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.2,10.13.3,10.13.4</string>
				<key>Name</key>
				<string>AppleIntelSKLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>TIlduOtA</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/sPD4cWBAA=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/D4cWBAA=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/sPD4OPBAAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/s/D4OPBAAA</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g+MP0+NBCd8=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g+M/0+NBCd8=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g+MP0w==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g+M/0w==</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/8PDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/8/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13.4，10.13.6，10.14.x</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>9sEQD4VBAQAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>9sEBD4VBAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily change 0x10 -&amp;gt; 0x01 for LiteOn CX2 (c) Pike R. Alpha implemented by Ricky for 10.14.4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>9sEQD4VEAQAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>9sEBD4VEAQAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.14.4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>di5I/wU=</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelBDWGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>6y5I/wU=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily: Ignore FLBAS bit:4 being set - for Plextor/LiteOn/Hynix</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>SBr2wRAPhQ==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>SBr2wQAPhQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily change 0x10 -&amp;gt; 0x01 for LiteOn CX2 (c) Pike R. Alpha implemented by Ricky for 10.14.4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>9sEQD5TARAjw</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.5</string>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Replace</key>
				<data>9sECD5TARAjw</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable AppleIntelLpssI2C</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable AppleIntelLpssI2CController</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
			</dict>
			<dict>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/kPDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g/k/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch #1 10.15.x modify by DalianSky(credit ydeng</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g/sPDw==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>g/s/Dw==</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02032109R5DC771H</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>07/24/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP111.88Z.F000.B00.1907241312</string>
		<key>Board-ID</key>
		<string>Mac-189A3D4F975D5FFC</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C17544404QXFH318C</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>157.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro11,1</string>
		<key>SerialNumber</key>
		<string>C17QMPY1FH00</string>
		<key>SmUUID</key>
		<string>4EDFC237-7365-493B-A8B6-55515860F552</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>